body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #583759;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to top,#FDEEF4,#F98B88);
}
.Hey h2{
    font-size:3rem;
}
.gun{
    mix-blend-mode: multiply;
    opacity: 0.9
}

.mySlides{
    mix-blend-mode: multiply;
    opacity: 0.9;
    transition:ease-in-out;
}

.knife{
    mix-blend-mode: multiply;
    opacity: 0.9;
}